# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
vesper/django/staticfiles/

# Sphinx documentation
docs/_build/

# Mac Desktop Services Store files
.DS_Store

# Local files
ClipDatabase.db
scratch.py

.ipynb_checkpoints
.vscode/launch.json

# Production Docker Compose file
docker-compose-prod.yaml

# pip requirements.txt file
requirements.txt
