graft vesper/django/staticfiles
recursive-include vesper *.css *.map *.html *.js *.gz *.json
recursive-include vesper *.eot *.svg *.ttf *.woff2 *.woff
recursive-include vesper *.h5 *.pb *.pkl *.bsp variables.*
recursive-include vesper *.ini *.spec *.txt *.yaml *.sqlite LICENSE
prune scripts
prune vesper/django/app/static/demos
prune vesper/django/staticfiles/demos
prune vesper/*/tests
prune vesper/*/*/tests
prune vesper/*/*/*/tests
prune vesper/*/*/*/*/tests
prune vesper/*/*/*/*/*/tests
