include vesper/scripts/*.spec
recursive-include vesper/django/app/templates *.html
recursive-include vesper/django/app/static/vesper *.html
recursive-include vesper/django/app/static/vesper *.css
recursive-include vesper/django/app/static/vesper *.js
recursive-include vesper *.h5
recursive-include vesper *.pkl
recursive-include vesper *.yaml
recursive-include vesper *.pb
recursive-include vesper variables.*
