html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.title {
  font-weight: bold;
  text-align: center;
}

.checkbox {
  text-align: center;
}

.page {
}

.row {
}

.clip {
  background-color: red;
}

.clip-canvas {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.clip-label {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
}
