.text-area {
    min-width: 100%;
}

.job-table {
    margin-top: 20px;
    table-layout: fixed;
    font-size: 24px;
    line-height: 45px;
}

.job-th {
    width: 140px;
    font-weight: 500;
}

.job-td {
    width: 300px;
}
