<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>About Vesper</title>

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>About Vesper</h2>

    <p>Version: {{version}}</p>

    <p>
        Vesper is open source software for acoustic monitoring of nocturnal
        bird migration.
    </p>
    
    <p>
        The Vesper
        <a href="https://github.com/HaroldMills/Vesper/" target="_blank">source code</a>
        is hosted by <a href="https://github.com/" target="_blank">GitHub</a>, and the
        <a href="https://vesper.readthedocs.io/" target="_blank">documentation</a> by
        <a href="https://readthedocs.org/" target="_blank">Read the Docs</a>.
    </p>
    
</body>
