<!DOCTYPE html>
<html lang="en">

<head>
  {% if stations %}
    <title>Calendar</title>
  {% else %}
    <title>Calendar - Vesper</title>
  {% endif %}
  {% include "vesper/header-prefix.html" %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/calendar.css' %}">
  <script>
    const stationMicName = "{{station_mic_name|default_if_none:''}}";
    const detectorName = "{{detector_name|default_if_none:''}}";
    const classification = "{{classification}}";
    const periods = {{periods_json|safe}};
  </script>
  <script src="{% static 'vesper/ui-utils.js' %}"></script>
  <script src="{% static 'vesper/calendar.js' %}"></script>
</head>

<body>

  {% include "vesper/navbar.html" %}
  
  <div id="main-div" class="container">
  
    <div class="panel panel-default query-panel">
  
      <div class="panel-body">
    
        <form class="form-inline" role="form" action="{% url 'calendar' %}" method="get">
        
          <div class="form-group form-spacing">
            <label for="station_mic">Station/mic:</label>
            <select class="form-control" id="station_mic" name="station_mic">
              {% for name in station_mic_names %}
                {% if name == station_mic_name %}
                  <option selected>{{name}}</option>
                {% else %}
                  <option>{{name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group form-spacing">
            <label for="detector">Detector:</label>
            <select class="form-control" id="detector" name="detector">
              {% for name in detector_names %}
                {% if name == detector_name %}
                  <option selected>{{name}}</option>
                {% else %}
                  <option>{{name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group form-spacing">
            <label for="classification">Classification:</label>
            <select class="form-control" id="classification" name="classification">
              {% for c in classifications %}
                {% if c == classification %}
                  <option selected>{{c}}</option>
                {% else %}
                  <option>{{c}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          
          <button type="submit" class="btn btn-default form-spacing">Submit</button>
        
        </form>
      
      </div>
      
    </div>
    
    <div id="calendar">
    
      <h2 id="title" class="calendar-title">
        <!-- The title is set by Javascript. -->
      </h2>

      <div id="periods"></div>

    </div>
      
  </div>

</body>

</html>
