<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    {% load static %}
    
    <title>Clip Album</title>

    {% load vesper_extras %}

    {% if not error_message %}
        <script type="module">
            import { init } from "{% static 'vesper/view/clip-album.js' %}";
            init({
                'clipFilter': {
            	        'stationMicName': '{{station_mic_name|escapejs}}',
            	        'detectorName': '{{detector_name|escapejs}}',
            	        'classification': '{{classification|escapejs}}',
                    'tag': '{{tag|escapejs}}',
            	        'date': null
                },
                'solarEventTimes': {{solar_event_times_json|safe}},
                'recordings': {{recordings_json|safe}},
                'clips': {{clips_json|safe}},
                'pageNum': {{page_num}},
                'settingsPresets': {{settings_presets_json|safe}},
                'settingsPresetPath': "{{settings_preset_path|default_if_none:''|escapejs}}",
                'keyBindingsPresets': {{commands_presets_json|safe}},
                'keyBindingsPresetPath': "{{commands_preset_path|default_if_none:''|escapejs}}",
                'archiveReadOnly': {{archive_read_only|yesno:"true,false"}}
            });
        </script>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/clip-album.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    {% if error_message %}
    
        <div id="error-div">
            {{error_message|safe}}
        </div>

    {% else %}
    
        {% include "vesper/clip-album-filter-clips-modal.html" %}
        {% include "vesper/clip-album-choose-presets-modal.html" %}
        {% include "vesper/clip-album-go-to-page-modal.html" %}
 
        <div id="title-div">
    
            <h3 id="title"></h3>
        
            <div id="title-buttons">
            
                <button id="previous-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Previous page">
                    <i class="bi-chevron-left title-button-icon"></i>
                </button>
                
                <button id="next-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Next page">
                    <i class="bi-chevron-right title-button-icon"></i>
                </button>
                
                <div class="dropdown title-dropdown">
                
                    <button id="moreButton" type="button" class="title-button" data-bs-toggle="dropdown" title="More" aria-haspopup="true" aria-expanded="false">
                        <i class="bi-three-dots-vertical title-button-icon"></i>
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="moreButton">
                        <li><a id="filter-clips-anchor" class="dropdown-item title-dropdown-anchor" href="#filter-clips" data-bs-toggle="modal" data-bs-target="#filter-clips-modal">Filter clips...</a></li>
                        <li><a id="choose-presets-anchor" class="dropdown-item title-dropdown-anchor" href="#choose-presets" data-bs-toggle="modal" data-bs-target="#choose-presets-modal">Choose presets...</a></li>
                        <li><a id="go-to-page-anchor" class="dropdown-item title-dropdown-anchor" href="#go-to-page" data-bs-toggle="modal" data-bs-target="#go-to-page-modal">Go to page...</a></li>
                    </ul>

                </div>
                
            </div>
            
        </div>
            
        <div id="clips"></div>
        
        <!-- div id='footer'></div> -->

    {% endif %}

</body>

</html>
