<button id="previous-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Previous page">
    <i class="bi-chevron-left title-button-icon"></i>
</button>

<button id="next-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Next page">
    <i class="bi-chevron-right title-button-icon"></i>
</button>

<button id="filter-clips-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Filter clips">
    <i class="bi-filter title-button-icon"></i>
</button>
