<button id="set-clip-filter-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Set clip filter">
    <i class="bi-filter title-button-icon"></i>
</button>

<button id="go-to-previous-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Go to previous page">
    <i class="bi-chevron-left title-button-icon"></i>
</button>

<button id="go-to-next-page-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Go to next page">
    <i class="bi-chevron-right title-button-icon"></i>
</button>
