{% extends 'vesper/base.html' %}

{% block head %}

    <title>Clip Calendar</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/clip-calendar.css' %}">

    {% load vesper_extras %}

    {% if not error_message %}
        <script type="module">
            import { init } from "{% static 'vesper/view/clip-calendar.js' %}";
            init({
                'stationMicName': '{{station_mic_name|default_if_none:''|escapejs}}',
                'detectorName': '{{detector_name|default_if_none:''|escapejs}}',
                'classification': '{{classification|escapejs}}',
                'tag': '{{tag|escapejs}}',
                'periods': {{periods_json|safe}},
                'settingsPresetPath': "{{settings_preset_path|default_if_none:''|escapejs}}",
                'keyBindingsPresetPath': "{{commands_preset_path|default_if_none:''|escapejs}}"
            });
        </script>
    {% endif %}

{% endblock head %}

{% block main %}

    {% if error_message %}

        <div id="error-div">
            {{error_message|safe}}
        </div>

    {% else %}

        {% include "vesper/set-clip-filter-modal.html" %}

        <div id="main-div" class="container">

            <div id="calendar" class="calendar">

                <div id="title-div">
                
                    <h4 id="title"></h4>

                    <div id="title-buttons">
                    
                        <button id="set-clip-filter-button" type="button" class="title-button" data-bs-toggle="tooltip" title="Set clip filter">
                            <i class="bi-filter title-button-icon"></i>
                        </button>
                        
                    </div>
                    
                </div>
                
                <div id="periods"></div>

            </div>

        </div>
        
    {% endif %}

{% endblock main %}
