<!-- Modal for setting the clip album page number. -->

<!-- Modal for setting a clip album's page number. -->

<div id="go-to-page-modal" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">

    <div class="modal-dialog">
    
        <div class="modal-content">
        
            <div class="modal-header">
                <h4 id="modal-title" class="modal-title">Go to page</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
            
                <form id="go-to-page-modal-form">
            
                    <div class="row my-4">
                        <label id="go-to-page-modal-label" class="col-sm-6 col-form-label text-end" for="go-to-page-modal-number">Page number:</label>
                        <input type="number" id="go-to-page-modal-number" class="form-control" required></input>
                    </div>
                    
               </form>
            
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="go-to-page-modal-ok-button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
                
         </div>
        
    </div>
    
</div>
