<!-- Modal for clip query. -->

<div id="clip-query-modal" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Clip Query</h4>
            </div>

            <form class="form-horizontal" role="form">
            
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="clip-query-modal-station-mic-select">Station/mic:</label>
                        <div class="col-sm-6">
                            <select id="clip-query-modal-station-mic-select" class="form-control modal-select">
                                {% for name in station_mic_names %}
                                    {% if name == station_mic_name %}
                                        <option selected>{{name}}</option>
                                    {% else %}
                                        <option>{{name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="clip-query-modal-detector-select">Detector:</label>
                        <div class="col-sm-6">
                            <select id="clip-query-modal-detector-select" class="form-control modal-select">
                                {% for name in detector_names %}
                                    {% if name == detector_name %}
                                        <option selected>{{name}}</option>
                                    {% else %}
                                        <option>{{name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="clip-query-modal-classification-select">Classification:</label>
                        <div class="col-sm-6">
                            <select id="clip-query-modal-classification-select" class="form-control modal-select">
                                {% for c in classifications %}
                                    {% if c == classification %}
                                        <option selected>{{c}}</option>
                                    {% else %}
                                        <option>{{c}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" id="clip-query-modal-ok-button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            
            </form>

        </div>

    </div>

</div>
