<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    {% if stations %}
        <title>Clip Calendar</title>
    {% else %}
        <title>Clip Calendar - Vesper</title>
    {% endif %}

    <script type="module">
        import { init } from '/static/vesper/view/clip-calendar.js';
        init({
            'stationMicName': "{{station_mic_name|default_if_none:''}}",
            'detectorName': "{{detector_name|default_if_none:''}}",
            'classification': "{{classification}}",
            'periods': {{periods_json|safe}}
        });
    </script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/clip-calendar.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}
    {% include "vesper/clip-query-modal.html" %}

    <div id="main-div" class="container">

        <div id="calendar">

            <div id="title-div">
            
                <h3 id="title"></h3>

		        <div id="title-buttons">
		        
		            <div class="dropdown title-dropdown">
		            
		                <button type="button" class="btn-xs btn-default dropdown-toggle title-button" data-toggle="dropdown">
		                    <span class="caret"></span>
		                </button>
		                
		                <ul class="dropdown-menu dropdown-menu-right" role="menu">
		                    <li><a id="clip-query-anchor" class="dropdown-item title-dropdown-anchor" href="#query" data-toggle="modal" data-target="#clip-query-modal">Edit Clip Query...</a></li>
		                </ul>
		                                
		            </div>
		            
		        </div>
		        
		    </div>
		    
            <div id="periods"></div>

        </div>

    </div>

</body>

</html>
