<!-- Modal for setting a clip album's clip filter. -->

<div id="filter-clips-modal" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 id="modal-title" class="modal-title">Filter clips</h4>
            </div>

            <div class="modal-body">
            
                <form>
            
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end" for="filter-clips-modal-station-mic-select">Station/mic:</label>
                        <div class="col-sm-6">
                            <select id="filter-clips-modal-station-mic-select" class="form-select w-auto">
                                {% for name in station_mic_names %}
                                    {% if name == station_mic_name %}
                                        <option selected>{{name}}</option>
                                    {% else %}
                                        <option>{{name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end" for="filter-clips-modal-detector-select">Detector:</label>
                        <div class="col-sm-6">
                            <select id="filter-clips-modal-detector-select" class="form-select w-auto">
                                {% for name in detector_names %}
                                    {% if name == detector_name %}
                                        <option selected>{{name}}</option>
                                    {% else %}
                                        <option >{{name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end" for="filter-clips-modal-classification-select">Classification:</label>
                        <div class="col-sm-6">
                            <select id="filter-clips-modal-classification-select" class="form-select w-auto">
                                {% for c in classifications %}
                                    {% if c == classification %}
                                        <option selected>{{c}}</option>
                                    {% else %}
                                        <option>{{c}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end" for="filter-clips-modal-tag-select">Tag:</label>
                        <div class="col-sm-6">
                            <select id="filter-clips-modal-tag-select" class="form-select w-auto">
                                {% for t in tags %}
                                    {% if t == tag %}
                                        <option selected>{{t}}</option>
                                    {% else %}
                                       <option>{{t}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </form>
                
            </div>
                    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="filter-clips-modal-ok-button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
            
        </div>

    </div>

</div>
