<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Delete Recordings - Vesper</title>

    {% load vesper_extras %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/delete-recordings-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Delete Recordings</h2>

    <p>
        Deletes recordings from this archive. The recordings are specified as a
        set of stations and a range of dates. All data associated with the
        recordings, except for the recording sound files if present, are deleted
        from the archive, including recording metadata, clips (including clip
        sound files), and annotations. The deletion runs as a Vesper job. This
        operation cannot be undone, so be careful!
    </p>

    <!--
        TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
        of form elements. Or perhaps use django-bootstrap3 app? See
        http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
     -->

    <form class="form" role="form" action="{% url 'delete-recordings' %}" method="post">

        {{ form.stations|block_form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Delete</button>

    </form>

</body>

</html>
