{% extends 'vesper/base.html' %}

{% block head %}

    <title>Delete clip audio files</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

    {% load vesper_extras %}

{% endblock head %}

{% block main %}

    <h2>Delete clip audio files</h2>

    <p>
        Deletes the audio files of the specified clips of this archive.
    </p>

    {% include "vesper/clips-specification-message.html" %}

    <p>
        After the audio files are deleted, whenever Vesper needs the
        clips' audio data it will read them from the recordings of which
        the clips are parts, assuming that the recordings are available.
        Note that if the recordings are not available, you probably don't
        want to run this command!
    </p>

    {% include "vesper/command-executes-as-job-message.html" %}

    <form class="form" role="form" action="{% url 'delete-clip-audio-files' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Delete</button>

    </form>

{% endblock main %}
