<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Delete recordings - Vesper</title>

    {% load vesper_extras %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/delete-recordings-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Delete recordings</h2>

    <p>
        Deletes the specified recordings from this Vesper archive.
    </p>
    
    {% include "vesper/recordings-specification-message.html" %}
    
    <p>
        All data associated with the recordings except for their audio
        files (if present) are deleted from the archive, including their
        metadata and all of their clips, including the clips' audio files
        (if present) and annotations.
    </p>
    
    {% include "vesper/command-executes-as-job-message.html" %}

    <p class="warning">
        This command can delete a lot of recording metadata, clips, and
        annotations, and cannot be undone, so use it with caution!
    </p>
    
    <form class="form" role="form" action="{% url 'delete-recordings' %}" method="post">

        {% csrf_token %}
        
        {{ form.stations|block_form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Delete</button>

    </form>

</body>

</html>
