{% extends 'vesper/base.html' %}

{% block head %}

    <title>Delete clips</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

    {% load vesper_extras %}

{% endblock head %}

{% block main %}

    <h2>Delete clips</h2>

    <p>
        Deletes the specified clips from this Vesper archive.
    </p>

    {% include "vesper/clips-specification-message.html" %}

    <p>
        All data associated with the clips, including their audio files,
        annotations, and tags, are deleted. You can optionally specify a
        number of clips to retain. The retained clips are selected at random
        from those specified, with all clips equally likely to be retained.
    </p>

    {% include "vesper/command-executes-as-job-message.html" %}

    <p class="warning">
        You can delete a lot of clips and associated data with this command,
        and your changes cannot be undone, so proceed with caution!
    </p>

   <form class="form" role="form" action="{% url 'delete-clips' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}
        
        {{ form.retain_count|form_element }}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Delete</button>

    </form>

{% endblock main %}
