<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Delete Clip Audio Files - Vesper</title>

    {% load vesper_extras %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Delete Clip Audio Files</h2>

    <p>
        Deletes audio files for clips of this archive. The clips are
        specified as a set of detectors, a set of station/mic pairs, a
        classification, and a range of dates. After the files are deleted,
        when needed Vesper will extract audio data for the clips on the fly
        from the recordings of which they are parts, assuming that the
        recordings are available. If the recordings are not available, you
        probably don't want to delete the clip audio files. Be careful: this
        operation cannot be undone! The operation runs as a Vesper job.
    </p>

    <!--
        TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
        of form elements. Or perhaps use django-bootstrap3 app? See
        http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
    -->

    <form class="form" role="form" action="{% url 'delete-clip-audio-files' %}" method="post">

        {{ form.detectors|block_form_element }}
        {{ form.station_mics|block_form_element }}
        {{ form.classification|form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Delete</button>

    </form>

</body>

</html>
