<!DOCTYPE html>
<html lang="en">

<head>
  <title>Export Clips HDF5 File - Vesper</title>
  {% include "vesper/header-prefix.html" %}
  {% load staticfiles %}
  {% load vesper_extras %}
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/command-form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/export-clips-hdf5-file-form.css' %}">
</head>

<body>

  {% include "vesper/navbar.html" %}

  <h2>Export Clips HDF5 File</h2>
  
  <p>
    Exports clips to an HDF5 file. The clips are specified as a set of one
    or more detectors, one or more station/mic combinations, and a range
    of dates. Only clips that are at least 5205 samples long are exported,
    and only the first 5205 samples of those clips are exported. The HDF5
    file is written to the specified path on the server. The export runs as
    a Vesper job. [For the time being, this command exports Call* and Noise
    clips. In the future, you will be able to choose the classes of clips
    to be exported. The clips will also be delivered via your browser rather
    than via the server file system.] 
  </p>
  
  <!-- 
    TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
    of form elements. Or perhaps use django-bootstrap3 app? See
    http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
   -->
   
  <form class="form" role="form" action="{% url 'export-clips-hdf5-file' %}" method="post">

    {{ form.detectors|block_form_element }}
    {{ form.station_mics|block_form_element }}
    {{ form.start_date|form_element }}
    {{ form.end_date|form_element }}
    {{ form.output_file_path|block_form_element }}

    <button type="submit" class="btn btn-default form-spacing command-form-spacing">Export</button>

  </form>

</body>

</html>
