<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Export Clips CSV File - Vesper</title>

    {% load vesper_extras %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Export Clips CSV File</h2>

    <p>
        Exports clip metadata to a CSV file. The file contains one row for
        each exported clip. The clips are specified as a set of one or more
        detectors, one or more station/mic combinations, a classification,
        and a range of dates. The CSV file is written at the specified path
        on the server. The export runs as a Vesper job. [In the future, the
        CSV file will be delivered to the client rather than written to the
        server file system.]
    </p>

    <!--
        TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
        of form elements. Or perhaps use django-bootstrap3 app? See
        http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
     -->

    <form class="form" role="form" action="{% url 'export-clips-csv-file' %}" method="post">

        {{ form.detectors|block_form_element }}
        {{ form.station_mics|block_form_element }}
        {{ form.classification|form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}
        {{ form.output_file_path|block_form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Export</button>

    </form>

</body>

</html>
