{% extends 'vesper/base.html' %}

{% block head %}

    <title>Export clips to audio files</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

    {% load vesper_extras %}

{% endblock head %}

{% block main %}

    <h2>Export clips to audio files</h2>

    <p>
        Exports the specified clips to wave files.
    </p>

    {% include "vesper/clips-specification-message.html" %}

    <p>
        The wave files are written to the specified output directory on
        the server. [In the future, the clips will be delivered to the
        client in a zip file rather than written to the server file system.]
    </p>

    {% include "vesper/command-executes-as-job-message.html" %}

    <form class="form" role="form" action="{% url 'export-clips-to-audio-files' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}

        {{ form.time_interval|form_element }}
        {{ form.output_dir_path|block_form_element }}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Export</button>

    </form>

{% endblock main %}
