{% extends 'vesper/base.html' %}

{% block head %}

    <title>Export clips to HDF5 file</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

    {% load vesper_extras %}

{% endblock head %}

{% block main %}

    <h2>Export clips to HDF5 file</h2>

    <p>
        Exports the specified clips to an HDF5 file.
    </p>

    {% include "vesper/clips-specification-message.html" %}

    <p>
        The HDF5 file is written to the specified path on the server.
        [In the future, the HDF5 file will be delivered to the client
        rather than written to the server file system.]
    </p>

    {% include "vesper/command-executes-as-job-message.html" %}

    <form class="form" role="form" action="{% url 'export-clips-to-hdf5-file' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}
        
        {{ form.clip_hdf5_file_export_settings_preset|form_element }}
        {{ form.output_file_path|block_form_element }}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Export</button>

    </form>

{% endblock main %}
