{% extends 'vesper/base.html' %}

{% block head %}

    <title>Export clip metadata to CSV file</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

    {% load vesper_extras %}

{% endblock head %}

{% block main %}

    <h2>Export clip metadata to CSV file</h2>

    <p>
        Exports metadata for the specified clips to a CSV file.
    </p>

    {% include "vesper/clips-specification-message.html" %}

    <p>
        This command writes the CSV file at the specified path on the
        server, overwriting any existing file at that path. The file
        contains one row for each clip. You can adjust the types and
        format of the metadata written to the columns of the file by
        creating an appropriate <code>Clip Table Format</code> preset
        and selecting it below.
    </p>

    {% include "vesper/command-executes-as-job-message.html" %}

    <form class="form" role="form" action="{% url 'export-clip-metadata-to-csv-file' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}
        
        {{ form.table_format|form_element }}
        {{ form.output_file_path|block_form_element }}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Export</button>

    </form>

{% endblock main %}
