<!-- Modal for setting the clip album page number. -->

<div id="go-to-page-modal" class="modal fade" role="dialog" data-target="#go-to-page">

    <div class="modal-dialog">
    
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" id="go-to-page-modal-close-button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Go to page</h4>
            </div>
            
            <form id="go-to-page-modal-form" class="form-horizontal" role="form">
            
                <div class="modal-body">
                    <div class="form-group">
                        <label id="go-to-page-modal-label" class="control-label col-sm-6" for="go-to-page-modal-number">Page number:</label>
                        <input type="number" id="go-to-page-modal-number" class="form-control" required></input>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" id="go-to-page-modal-ok-button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
                
            </form>
            
         </div>
        
    </div>
    
</div>
