<meta charset="utf-8">

<!-- Configure browser viewport. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}

<!-- Load Bootstrap. -->
<script src="{% static 'third-party/bootstrap-5.1.1/js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'third-party/bootstrap-5.1.1/css/bootstrap.min.css' %}">

<!-- Load Bootstrap Icons. -->
<link rel="stylesheet" type="text/css" href="{% static 'third-party/bootstrap-icons-1.5.0/bootstrap-icons.css' %}">

<!-- Load Vesper navigation bar CSS. -->
<link rel="stylesheet" type="text/css" href="{% static 'vesper/view/navbar.css' %}">
