<!DOCTYPE html>
<html lang="en">

<head>
  <title>Import Archive Data - Vesper</title>
  {% include "vesper/header-prefix.html" %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/command-form.css' %}">
</head>

<body class="command-form-body">

  {% include "vesper/navbar.html" %}

  <h2>Import Archive Data</h2>
  
  <p>
    Imports archive data from YAML text into Vesper. The YAML can describe
    stations, devices (such as microphones and recorders), which devices were
    used at which stations during which time periods, and how the devices were
    connected (for example, which microphones were connected to which recorder
    channels). It can also describe algorithms, algorithm versions, and
    processors. The import runs as a Vesper job. [Need to describe archive
    data YAML format in more detail, perhaps on another page that we link to
    here.]
  </p>
  
  <p class="command-form-help">
    Submit this form to import data concerning stations and devices into
    Vesper. The data describe stations, devices (such as microphones and
    recorders), which devices were used at each station during which
    time periods, and how the devices were connected (for example, which
    microphones were connected to which recorder channels). The data must
    be provided as YAML text [need to describe the format in more detail].
    The import runs as a Vesper job.
  </p>
  
  <form class="form" role="form" action="/vesper/import_archive_data" method="post">
  
    <div class="form-group form-spacing command-form-spacing">
      <label for="{{form.archive_data.id_for_label}}">Archive data YAML:</label>
      {{form.archive_data}}
      {{form.archive_data.errors}}
    </div>
    
    <button type="submit" class="btn btn-default form-spacing command-form-spacing">Import</button>
    
  </form>

</body>

</html>
