<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Import Recordings - Vesper</title>

    {% load vesper_extras %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body class="command-form-body">

    {% include "vesper/navbar.html" %}

    <h2>Import Recordings</h2>

    <p>
        Imports one or more recordings into a Vesper archive. Each recording
        must comprise one or more .wav files in one of the archive's
        recording directories on the server. The import does not copy the
        files, but rather remembers their paths relative to the archive's
        recording directories.
    </p>

    <p>
        An archive's recording directories can be specified via the
        <code>recording_directory_paths</code> setting in the archive's
        <code>Archive Settings.yaml</code> file. If that setting is not
        specified, it defaults to a single path, that of the
        <code>Recordings</code> subdirectory of the archive directory.
    </p>

    <p>
        Default values for the input elements of this form can also be
        specified in the archive's <code>Preferences.yaml</code> file.
    </p>

    <p>
        If the <code>Recursive</code> check box is not checked below, the
        import will include recordings present in the specified directories,
        but not recordings in any of their subdirectories. If the
        <code>Recursive</code> check box is checked, the import
        will include recordings present in the specified directories, their
        subdirectories, subdirectories of those subdirectories, and so on.
    </p>

    <p>
        The importer automatically groups the files of multi-file
        continuous recordings, based on the files' start times and
        durations.
    </p>

    <p>
        The import runs as a Vesper job.
    </p>

    <form class="form" role="form" action="{% url 'import-recordings' %}" method="post">

        {{ form.paths|block_form_element }}
        {{ form.recursive|form_checkbox }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Import</button>

    </form>

</body>

</html>
