<!DOCTYPE html>
<html lang="en">

<head>
  <title>Import Recordings</title>
  {% include "vesper/header-prefix.html" %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/command-form.css' %}">
</head>

<body>

  {% include "vesper/navbar.html" %}
  
  <h2>Import Recordings</h2>
  
  <p>
    Submit this form to import one or more recordings into Vesper.
    Each recording must comprise one or more .wav files in the Vesper
    Server file system. The imported files are copied into the Vesper
    data directory, and are not modified. The import runs as a Vesper
    job.
  </p>
  
  <form class="form" role="form" action="/vesper/import-recordings" method="get">
  
    <div class="form-group form-spacing command-form-spacing">
      <label for="paths">File and/or directory paths:</label>
      <textarea class="form-control" rows="5" id="paths" name="paths"></textarea>
      <p>
        Specify the paths of one or more .wav files and/or directories
        containing .wav files to import those files as recordings. Each
        path should be specified on a separate line. Multi-file recordings
        are automatically recognized from the stations, start times, and
        durations of their files.
      </p>
    </div>
    <div>
      <label for="recursive">Recursive:</label>
      <input type="checkbox" value="">
      <p>
        Check <i>Recursive</i> to recursively include .wav files in
        subdirectories of any specified directories, or uncheck it to exclude
        such files.
      </p>
      <!--
      <div class="checkbox">
        <label class="checkbox"><input type="checkbox" value="">Recursive</label>
      </div>
      -->
    </div>
    
    <!--
    <div class="form-group form-spacing command-form-spacing">
      <label>Import mode:</label>
      <label class="radio-inline active"><input type="radio" name="mode" checked="">Copy</label>
      <label class="radio-inline"><input type="radio" name="mode">Move</label>
      <p>
        Select *Copy* to copy imported .wav files from the specified
        locations into the Vesper data directory, leaving the originals
        intact, or select *Move* to move the files, deleting the originals.
      </p>
    </div>
    -->
    
    <button type="submit" class="btn btn-default form-spacing command-form-spacing">Import</button>
  
  </form>
  
  <!--
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#server">Server</a></li>
    <li><a data-toggle="tab" href="#client">Client</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="server" class="tab-pane fade in active">
      <h3>Import recordings from the server file system.</h3>
      <p>This type of import is faster than a client import but only works
         when the recordings to be imported appear in the server file system.
      </p>
    </div>
    <div id="client" class="tab-pane fade">
      <h3>Import recordings from the client file system.</h3>
      <p>This type of import is slower than a server import but works in
         more cases. The client and server only have to be able to talk
         to each other using the HTTP network protocol. They can be running
         on the same computer, or on different computers on the same local
         network, or on different computers on the internet. The recordings
         to be imported are read from the client file system and copied to
         the server.</p>
    </div>
  </div>
  -->
  
</body>

</html>
