<!DOCTYPE html>
<html lang="en">

<head>
  <title>Job {{job.id}}</title>
  {% include "vesper/header-prefix.html" %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'vesper/job.css' %}">
  <script src="{% static 'vesper/job.js' %}"></script>
</head>

<body>

  {% include "vesper/navbar.html" %}
  
  <h2>Job {{job.id}} - {{command_name}}</h2>
  
  <h3>Full command:</h3>
  <p>{{job.command}}</p>
  
  <h3>Start time:</h3>
  <p>{{job.start_time}}</p>
  
  <h3>End time:</h3>
  <p>{{job.end_time}}
  
  <h3>Status:</h3>
  <p>{{job.status}}</p>
  
  <h3>Log:</h3>
  <textarea class="log-text" id="textarea" rows="20" cols="100" readonly>{{job.log}}</textarea>
  
</body>
