<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Job {{job.id}}</title>

    {% load static %}
    <script type="module" src="{% static 'vesper/view/job.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/job.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Job {{job.id}} - {{command_name}}</h2>

    <h3>Command:</h3>
    <textarea class="text-area" id="command-textarea" rows="8" cols="100" readonly>{{job.command}}</textarea>

    <h3>Start time:</h3>
    {{job.start_time}}

    <h3>End time:</h3>
    {{job.end_time}}

    <h3>Status:</h3>
    {{job.status}}

    <h3>Log:</h3>
    <textarea class="text-area" id="job-textarea" rows="20" cols="100" readonly>{{job.log}}</textarea>

</body>
