<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Vesper</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#vesper-navbar" aria-controls="vesper-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="vesper-navbar">
            <ul class="navbar-nav me-auto">
                {% for item in navbar_items %}
                    {% include "vesper/navbar-item.html" %}
                {% endfor %}
            </ul>
            {% if navbar_right_items %}
                <ul class="navbar-nav">
                    {% for item in navbar_right_items %}
                        {% include "vesper/navbar-item.html" %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
