<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Clips</title>

    <script type="module">
        import { init } from '/static/vesper/view/clip-album.js';
        init({
            'clipFilter': {
        	    'stationMicName': '{{station_mic_name}}',
        	    'detectorName': '{{detector_name}}',
        	    'classification': '{{classification}}',
        	    'date': '{{date}}'
            },
            'solarEventTimes': {{solar_event_times_json|safe}},
            'recordings': {{recordings_json|safe}},
            'clips': {{clips_json|safe}},
            'settingsPresets': {{settings_presets_json|safe}},
            'settingsPresetPath': "{{settings_preset_path|default:''}}",
            'keyBindingsPresets': {{commands_presets_json|safe}},
            'keyBindingsPresetPath': "{{commands_preset_path|default:''}}",
            'archiveReadOnly':  {{archive_read_only|yesno:"true,false"}}
        });
    </script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/night.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}
	{% include "vesper/go-to-page-modal.html" %}
    {% include "vesper/clip-album-settings-modal.html" %}
        
    <div id="title-div">
    
        <h3 id="title"></h3>
    
        <div id="title-buttons">
        
            <button id="previous-page-button" type="button" class="btn-xs btn-default title-button" data-toggle="tooltip" title="Previous Page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            
            <button id="next-page-button" type="button" class="btn-xs btn-default title-button" data-toggle="tooltip" title="Next Page">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

            <div class="dropdown title-dropdown">
            
                <button type="button" class="btn-xs btn-default dropdown-toggle title-button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a id="go-to-page-anchor" class="dropdown-item title-dropdown-anchor" href="#go-to-page" data-toggle="modal" data-target="#go-to-page-modal">Go To Page...</a></li>
                    <li><a id="settings-anchor" class="dropdown-item title-dropdown-anchor" href="#settings" data-toggle="modal" data-target="#settings-modal">Edit Settings...</a></li>
                </ul>
                                
            </div>
            
        </div>
        
        <div id="rug-plot"></div>
        
    </div>

    <div id="clips"></div>
    
    <!-- div id='footer'></div> -->

</body>

</html>
