<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Clips New</title>

    <script>
        const clipQuery = {
    	    'stationMicName': '{{station_mic_name}}',
    	    'detectorName': '{{detector_name}}',
    	    'classification': '{{classification}}',
    	    'date': '{{date}}'
        };
        const solarEventTimes = {{solar_event_times_json|safe}};
        const recordings = {{recordings_json|safe}};
        const clips = {{clips_json|safe}};
        const settingsPresets = {{settings_presets_json|safe}};
        const settingsPresetPath = '{{settings_preset_path|default:""}}';
        const commandsPresets = {{commands_presets_json|safe}};
        const commandsPresetPath = '{{commands_preset_path|default:""}}';
    </script>

    {% load staticfiles %}
    <script type="module" src="{% static 'vesper/view/night.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/night.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <button type="button" class="settings-button" data-toggle="modal" data-target="#settings-modal">
        <span class="glyphicon glyphicon-cog settings-button-span"></span>
    </button>

    {% include "vesper/night-settings.html" %}

    <h3 id="title"></h3>
    <div id="rug-plot"></div>
    <div id="clips"></div>
    <!-- div id='footer'></div> -->

</body>

</html>
