<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Export Old Bird Clip Counts CSV File - Vesper</title>

    {% load vesper_extras %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Export Old Bird Clip Counts CSV File</h2>

    <p>
        Downloads a CSV file with clip counts for the specified detector,
        station/mic, and range of dates. The counts are in a specific
        format requested by Old Bird.
    </p>

    <!--
        TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
        of form elements. Or perhaps use django-bootstrap3 app? See
        http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
     -->

    <form class="form" role="form" action="{% url 'old-bird-export-clip-counts-csv-file' %}" method="post">

        {{ form.detector|form_element }}
        {{ form.station_mic|form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}
        {{ form.file_name|form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Export</button>

    </form>

</body>

</html>
