<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    
    <title>Show recording capabilities - Vesper</title>
    
    <link rel="stylesheet" type="text/css" href="/static/vesper/view/show-recording-capabilities.css">
    <script src="/static/vesper/view/show-recording-capabilities.js"></script>

</head>
<body>

    <h1>Show recording capabilities</h1>
    
    <p>
        Shows the recording capabilities of the selected audio input device.
    </p>
    
    <label for="devices-select">Audio input device:</label>
    
    <select id="devices-select">
        <!-- This select is populated by JavaScript. -->
    </select>
    
    <p></p>
    
    <table border='1' id='table'>
        <!-- This table is populated by JavaScript. -->
    </table>
    
</body>
</html>
