<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{station.name}}</title>
</head>
<body>
  <h1>{{station.name}}</h1>
  <a href="{% url 'station-clips' station.name %}">Clips</a>
</body>
</html>

<!--
<h1>{{ station_name }}</h1>
{% if recording_names %}
    <h2>{{ num_recordings }} recordings</h2>
    <p>
    <ul>
        {% for name in recording_names %}
            <li><a href="view/bobo">{{ name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>No recordings</h2>
{% endif %}

{% if clip_names %}
    <h2>{{ num_clips }} clips</h2>
    <p>
    <ul>
        {% for name in clip_names %}
            <li><a href="view/bobo">{{ name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>No clips</h2>
{% endif %}
-->
