<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Transfer call classifications - Vesper</title>

    {% load vesper_extras %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Transfer call classifications</h2>

    <p>
        Transfers <code>Call*</code> classifications from clips of one
        detector to corresponding clips of another detector.
    </p>
    <p>
        The detector from whose clips classifications are transferred is
        called the <i>source</i> detector and the detector to whose clips
        the classifications are transferred is called the <i>target</i>
        detector. The set of source detector call clips from which to
        transfer classifications is specified as a detector, a set of
        station/mic pairs, and a range of dates. For each of the specified
        source detector clips, the command attempts to find a target
        detector clip that starts at a similar time. If such a clip is
        found, the command transfers the source detector clip's
        classification to it. The source detector clip retains its
        classification (i.e. we use the term "transfer" a little loosely
        here).
    </p>
    
    {% include "vesper/command-executes-as-job-message.html" %}

    <!--
        TODO: Get django-widget-tweaks Django app  and use it to set CSS classes
        of form elements. Or perhaps use django-bootstrap3 app? See
        http://stackoverflow.com/questions/8474409/django-forms-and-bootstrap-css-classes-and-divs.
    -->

    <form class="form" role="form" action="{% url 'transfer-call-classifications' %}" method="post">

        {{ form.source_detector|form_element }}
        {{ form.target_detector|form_element }}
        {{ form.station_mics|block_form_element }}
        {{ form.start_date|form_element }}
        {{ form.end_date|form_element }}

        <button type="submit" class="btn btn-default form-spacing command-form-spacing">Transfer</button>

    </form>

</body>

</html>
