<!DOCTYPE html>
<html lang="en">

<head>

    {% include "vesper/header-prefix.html" %}

    <title>Untag clips - Vesper</title>

    {% load vesper_extras %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vesper/view/command-form.css' %}">

</head>

<body>

    {% include "vesper/navbar.html" %}

    <h2>Untag clips</h2>

    <p>
        Untags the specified clips.
    </p>
    
    <p>
        The clips are specified as a set of station/mic pairs, a range of
        dates, a set of detectors, an optional classification, and a tag.
    </p>
    
    <p>
        You can optionally specify a number of clips for which to retain
        the tag. The retained clips are selected at random from those
        specified, with all clips equally likely to be retained.
    </p>
    
    {% include "vesper/command-executes-as-job-message.html" %}

    <p class="warning">
        This command can untag a lot of clips, and cannot be undone,
        so use it with caution!
    </p>

    <form class="form" role="form" action="{% url 'untag-clips' %}" method="post">

        {% csrf_token %}
        
        {% include "vesper/clip-set-form-elements.html" %}
        
        {{ form.retain_count|form_element }}

        <button type="submit" class="btn btn-primary form-spacing command-form-spacing">Untag</button>

    </form>

</body>

</html>
