/*
With the exception of the body rule, I've given up on this CSS for the time
being. It was taking too long to find all the rules needed to override the
Bootstrap rules affecting the navbar.
 */
 
/*
We add 50 pixels to what would otherwise be a 20-pixel top margin to
account for the navbar.
TODO: Find a way to lay out components beneath the navbar without the body
CSS having to know the height of the navbar. It seems like it should be
possible to get what we want with only the navbar (and the layout) knowing
its height.
*/
body {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*
.navbar {
  background: rgba(255, 185, 56, .9);
}

.navbar-default .navbar-brand {
  color: gray;
}

.navbar-default .navbar-brand:hover {
  color: gray;
}

.navbar-header:hover {
  color: black;
}

.nav.navbar-nav li a {
  color: black;
}

.nav.navbar-nav li a:hover {
  color: white;
  background: transparent;
}

.nav.navbar-nav li.active a {
  color: white;
  background: transparent;
}

.nav.navbar-nav li.active a:hover {
  color: white;
  background: transparent;
}

.navbar-default .nav.navbar-nav .open .dropdown-toggle {
  color: white;
  background: rgb(255, 192, 76);
}

.dropdown-menu {
  color: white;
  background: rgb(255, 192, 76);
}
*/
