/*
::selection {
  background-color: transparent;
}

.settings-button {
  background-color: transparent;
  color: gray;
  font-size: 1.4em;
  position: absolute;
  top: 55px;
  right: 5px;
  padding: 0;
  border: none;
  outline: none;
}

.settings-button:hover {
  color: #606060;
}

.settings-button:active {
  color: black;
}
*/

/* settings modal control labels */
/*
.modal-body .form-horizontal .control-label {
  width: auto;
}
*/

/* settings modal controls */
/*
.modal-body .form-horizontal .form-control {
  width: auto;
}
*/
/*
.clips-title {
  font-weight: bold;
  text-align: center;
}

#rug-plot {
  max-width: 720px;
  height: 60px;
  margin: 0 auto;
}
*/
/*
html, body {
  height: 100%;
  margin: 0;
}

.night {
  display: flex;
  flex-flow: column;
  height: 100%;
}
*/

/*
.clips {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clip {
  flex-grow: 0;
  flex-shrink: 0;
}
*/

/*
.clips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.clip {
  outline-style: solid;
  outline-color: transparent;
  background-color: blue;
  position: relative;
}

.clip-canvas {
  background-color: gray;
}

.clip:hover > button {
  visibility: visible;
}
*/

/*
 * The top and bottom attributes of the play button are set in Javascript,
 * since they depend on the label location.
 */
/*
.clip-play-button {
  background-color: transparent;
  color: orange;
  visibility: hidden;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  outline: none;
}

.clip-play-button:hover {
  color: darkorange;
}

.glyphicon.glyphicon-play {
  font-size: 20px;
}

.clip-audio {
  visibility: hidden;
}

.clip-label {
  white-space: nowrap;
  background-color: transparent;
  position: absolute;
  margin: 0;
}
*/

::selection {
  background-color: transparent;
}

html {
  height: 100%;
  margin: 0;
}

/*
We set min-width and min-height properties for the body to help avoid
problems that tend to arise at smaller sizes, for example playback buttons
that are taller than the clip views that are supposed to contain them. While
such problems can occur for a clip collection view of any height (since
there is no limit on the number of view rows one can specify), for
reasonable view settings they tend to occur only at smaller view sizes.
*/
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 480px;
  height: 100%;
  margin: 0;
}

#title {
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
}

#rug-plot {
  width: 95%;
  max-width: 600px;
  height: 45px;
  margin: 10px auto 0;
  padding: 0;
  background-color: white;
}

#rug-plot-rug {
  display: block;    /* default inline display yields space between canvases */
  width: 100%;
  height: 25px;
  margin: 0;
  border: 1px solid black;
  padding: 0;
  background-color: transparent;
}

#rug-plot-axis {
  display: block;    /* default inline display yields space between canvases */
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#clips {
  margin: 0;
}

#footer {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 0;
  background-color: black;
}

.clip-row {
}

.clip {
  background-color: gray;
  outline-style: solid;
}

.clip-canvas {
  width: 100%;
  height: 100%;
  background-color: gray;
}


.clip:hover > button {
  visibility: visible;
}


/*
 * The top and bottom attributes of the play button are set in Javascript,
 * since they depend on the label location.
 */
.clip-play-button {
  background-color: transparent;
  color: orange;
  visibility: hidden;
  position: absolute;
  width: 20px;
  height: 24px;
  padding: 0;
  border: none;
  outline: none;
}

.clip-play-button:hover {
  color: darkorange;
}

.glyphicon.glyphicon-play {
  font-size: 20px;
}

.clip-audio {
  visibility: hidden;
}

/*
 * We set the margin, padding, and line height to eliminate all space
 * around the text by default.
 *
 * We set the overflow to "hidden" to clip labels to the clip collection
 * view div to avoid undesirable horizontal scrollbars.
 */
.clip-label {
  white-space: nowrap;
  background-color: transparent;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow: hidden;
}
